@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

fieldset, c{ border:none; }

img{display: block;}

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }

ul, ol ,li{ list-style:none; }

body { color:#333; font:14px,"微软雅黑","Arial",HELVETICA; background:#fff;}

a { color:#666; text-decoration:none; }
/*清除浮动*/
.clear{clear:both}
*{box-sizing:border-box}
body,html{
    height: 100%;
    overflow: hidden;
}
i,b{font-style: normal;}

/* ::-webkit-scrollbar {
    width: .24rem;
    height: .24rem;
    }
     
    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 6px;
    background: #fff;
    }
     
    ::-webkit-scrollbar-button {
    display: none;
    }
     
    ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    background: -webkit-gradient(linear,left);
    }
     
    ::-webkit-scrollbar-track-piece {
    background: #FFF;
    } */
    


