<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>1111</div>
    <p id="p"></p>
    <script>
        // var str="plain"
        // var reg=/[^abc]/g
        // // alert(reg.test(str))
        // var str2="hello  hello adc";
        // var reg2=/(abc|aec|adc)/
        // result=str2.search(reg2)
        // console.log(result)
        // var p=document.getElementById("p")
        // var word="aaaa"
        // var reg=new RegExp('\\b'+word+'\\b')
        // var newWord=word.replace(reg,'bbbb')
        // p.innerHTML=newWord
        // console.log(newWord)
        // var str='1a2b3c4d5e6f7a8B9C'
        // result=str.match(/[a-z]/ig)
        // console.log(result)
        var reg=/ab{3}/
        console.log(reg.test("abbb"))
        
    </script>
</body>
</html>